<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem
            id="menu_hospital_root"
            name="Hopital"
            web_icon="hospital,static/description/icon.png"
            sequence="0"/>
            
        <menuitem
            id="menu_patient_master"
            parent="menu_hospital_root"
            name="Détails Patients"
            sequence="0"/>

        <menuitem
            id="menu_patient"
            name="Patients"
            action="action_hospital_patient"
            parent="menu_patient_master"
            sequence="0"/>


        <menuitem
            id="menu_female_patient"
            name="Patients Féminins"
            action="action_hospital_female_patient"
            parent="menu_patient_master"
            sequence="20"/>
    
        <menuitem
            id="menu_master_appointment"
            name="Rdv"
            parent="menu_hospital_root"
            sequence="20"/>

        <menuitem
            id="menu_appointment"
            name="Rendez-vous"
            action="action_hospital_appointment"
            parent="menu_master_appointment"
            sequence="10"/>

        <menuitem
            id="menu_configuration"
            name="Configuration"
            parent="menu_hospital_root"
            sequence="100"/>

        <menuitem
            id="menu_patient_tag"
            name="Tags"
            action="action_patient_tag"
            parent="menu_configuration"
            sequence="10"/>

        <menuitem
            id="menu_cancel_appointment"
            name="Annulation des rendez-vous"
            parent="menu_master_appointment"
            action="action_cancel_appointment"
            sequence="20"/>

        <menuitem
            id="menu_technical"
            name="Technique"
            parent="menu_hospital_root"
            sequence="110">
                <menuitem
                    id="menu_playground"
                    name="Play ground"
                    action="action_playground"
                    sequence="10"/>
        </menuitem> 

        <menuitem
            id="hospital_config_settings_menu"
            name="Paramètres"
            parent="hospital.menu_configuration"
            action="action_config_settings_action"
            groups="base.group_system"
            sequence="0"/>

        <menuitem
            id="menu_patient_operation"
            name="Opérations"
            action="action_patient_operation"
            parent="menu_configuration"
            sequence="20"/>

    </data> 
</odoo>
